doctype html html(lang='eng')
head
    title job-header
    style
        include stylesheet.css
body
    div(class='first-order-flexbox')
        div(class='order-information')
            div(class='data', id='job-id')
                p(class='identifier') job-id
                p(class='content') #{jobId}
            div(class='data', id='date-range')
                p(class='identifier') placed
                p(class='content') #{datePlaced}
            div(class='data', id='date-current')
                p(class='identifier') printed
                p(class='content') #{dateCurrent}
            div(class='data', id='printer-user')
                p(class='identifier') print-user
                p(class='content') #{user}
            div(class='data', id='printer-device')
                p(class='identifier') printer
                p(class='content') #{printer}
            //- div(class='data', id='barcode')
            //-     p(class='identifier') barcode
            //-     p(class='content') #{barcode}
        div(class='job-order-type priority')
            h1 #{orderType}
    hr
    table
        thead
            tr
                th order id 
                th sales order #
                th fund id 
                th fundraiser name 
                th placed date 
                th logo preview
                th logo script 
                th primary 
                th secondary 
                th logo id 
                th d 
                th ds
        tbody
            each order in orders
                tr 
                    td #{order.orderId}
                    td #{order.salesOrder}
                    td #{order.fundId}
                    td #{order.fundname}
                    td #{order.placedDate}
                    td
                        img(src="https://snapraiselogos.s3.us-west-1.amazonaws.com/PrinterLogos/" + order.fundId + "_d.png", alt="", srcset="")
                    td #{order.logoScript}
                    - var placeholderColor = 'none #FFFFFF'
                    if order.priColor
                        - var primary = order.priColor.split(' ')[order.priColor.split(' ').length - 1]
                        - var colorName1 = order.priColor.split('#')[0].trim()
                    else 
                        - var primary =  '#ffffff'
                        - var colorName1 = 'none'
                    td(class="color" style="background-color:"+primary) #{colorName1} 
                    if order.secColor
                        - var secondary = order.secColor.split(' ')[order.secColor.split(' ').length - 1]
                        - var colorName2 = order.secColor.split('#')[0].trim()
                    else 
                        - var secondary = '#ffffff'
                        - var colorName2 = 'none'
                    td(class="color" style="background-color:"+secondary) #{colorName2} 
                    td #{order.logoId}
                    td #{order.digital}
                    td #{order.digiSmall}
