doctype html html(lang='eng')
head
    title job-top-sheet
    style
        include stylesheet.css
    script
        include script.js

body
    div(class='first-order-flexbox')
        div(class='order-information')
            div(class='data', id='job-id')
                p(class='identifier') job-id
                p(class='content') #{jobId}
            div(class='data', id='date-range')
                p(class='identifier') placed
                p(class='content') #{datePlaced}
            div(class='data', id='date-current')
                p(class='identifier') printed
                p(class='content') #{dateCurrent}
            div(class='data', id='printer-user')
                p(class='identifier') print-user
                p(class='content') #{user}
            div(class='data', id='printer-device')
                p(class='identifier') printer
                p(class='content') #{printer}
            //- div(class='data', id='barcode')
            //-     p(class='identifier') barcode
            //-     p(class='content') #{barcode}
        div(class='job-order-type priority')
            if priority
                h1(style="color: red;") #{orderType}
            else
                h1(style="color: black;") #{orderType}
    hr
    table
        thead
            tr
                th order id 
                th sales order #
                th fund id 
                th fundraiser name 
                th placed date 
                th logo preview
                th logo script 
                th primary 
                th secondary 
                th logo id 
                th d 
                th ds
        tbody
            each order in orders
                tr(onclick='openNewTab(\'' + order.order_id + '\')')
                    td #{order.order_id}
                    td #{order.sales_order_id}
                    td #{order.fundraiser_id}
                    td #{order.fundraiser_name}
                    - var placedOnDate = dayjs(order.placed_on_date).format("MM/DD/YYYY")
                    td #{placedOnDate}
                    td
                        img(src="https://snapraiselogos.s3.us-west-1.amazonaws.com/PrinterLogos/" + order.fundraiser_id + "_d.png", alt="", srcset="")
                    td #{order.logo_script}
                    - var placeholderColor = 'none #FFFFFF'
                    if order.primary_color
                        - var primary = order.primary_color.split(' ')[order.primary_color.split(' ').length - 1]
                        - var colorName1 = order.primary_color.split('#')[0].trim()
                    else 
                        - var primary =  '#ffffff'
                        - var colorName1 = 'none'
                    td(class="color" style="background-color:"+primary) #{colorName1} 
                    if order.secondary_color
                        - var secondary = order.secondary_color.split(' ')[order.secondary_color.split(' ').length - 1]
                        - var colorName2 = order.secondary_color.split('#')[0].trim()
                    else 
                        - var secondary = '#ffffff'
                        - var colorName2 = 'none'
                    td(class="color" style="background-color:"+secondary) #{colorName2} 
                    td #{order.logo_id}
                    td #{order.logo_count_digital}
                    td #{order.logo_count_digital_small}